html, body {
  margin: 0;
  padding: 0;
}
canvas {
display:block;
position:absolute;
top:0;
left: 0;
filter: opacity(1.0);
-webkit-transition: all 1s;
}

.canv #c1{

  filter: opacity(1.0);
}

.canv #c2{

  filter: opacity(1.0);
}
